# Discord Token used to log the bot in
ASHFUR_DISCORD_TOKEN=

# Integration: osu!lazer, grabs player stats 
# 
# Register at https://osu.ppy.sh, go to https://osu.ppy.sh/home/account/edit, 
# and create an OAuth client, with any application name you want [maybe the bot's name?], and an appliction callback URL
# of something like `https://localhost:4590/callback`, any port number above 1024 works really. You will get a Client ID
# and Client Secret after registering.
ASHFUR_OSU_CLIENT_ID=
ASHFUR_OSU_CLIENT_SECRET=

# Setting up MongoDB with the bot to be used as a database
ASHFUR_MONGODB_CONNECTION_STRING=mongodb://ashfur:furry@mongo:27017/?appName=ashfur