footers \
        "oh for fuck sakes" "whyyy" "fuck off" "eat a bag of dicks" "howdy?" "why do i exist" "what is my purpose" \
        "oh my god" "hey im going to run you over. you dont like that? too bad."